 .rentalStatus
{
    padding: 10px;
    margin-bottom: 10px; 
    border: 1px dotted #333333; 
    border-radius: 5px; 
    background-color: #ffff99;
    width:100%;

}

.body-wrapper{
    position: relative; 
}

.comment-wrapper{
    overflow: scroll;
}