 .rentalStatus
{
    padding: 10px;
    margin-bottom: 10px; 
    border: medium solid black;
    border-width:1px 2px 1px 2px ;
    background-color: #ffff99;
}

.body-wrapper{
    position: relative; 
}

.comment-wrapper{
    overflow-y: auto; 
    height: 50vh;
}
