/* .books-wrapper {
    padding-top: 40px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 90px;
} */

.book-wrapper{
    padding:15px
}

.book-wrapper a{
    text-decoration: none;
    color: black;
}

.book-wrapper .title{
    border: medium solid lightgray;
    border-width:1px 1px 0.5px 1px ;
    background-color: white;
}

.book-wrapper .userName{
    border: medium solid lightgray;
    border-width:0.5px 1px 0.5px 1px ;
    background-color: white;
}

.book-wrapper .rentalStatus{
    border: medium solid lightgray;
    border-width:0.5px 1px 1px 1px ;
}

.book-wrapper .enable{
    background-color: yellow;
}

.book-wrapper .disable{
    background-color: gray;
}