.form-wrapper {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: white;
}

.image-wrapper{
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 30px;
}

.label-wrapper{
    padding-right: 0px;
    text-align: right;
}