 .rentalStatus
{
    padding: 10px;
    border: medium solid black;
    border-width:1px 2px 1px 2px ;
    background-color: #ffff99;
}

.image-wrapper{
    margin-bottom: 30px;
}

.body-wrapper{
    position: relative; 
}

.comment-wrapper{
    overflow-y: auto; 
    height: 50vh;
}

.comment-box
{
    padding: 10px;
    padding-bottom: 50px; 
    border: medium solid black;
    border-width:1px 2px 1px 2px ;
}

