.book-wrapper{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom:8px
}

.book-wrapper a{
    text-decoration: none;
    color: black;
}

.book-wrapper .title{
    border: medium solid lightgray;
    border-width:1px 1px 0.5px 1px ;
    background-color: white;
}

.book-wrapper .userName{
    border: medium solid lightgray;
    border-width:0.5px 1px 0.5px 1px ;
    background-color: white;
}

.book-wrapper .rentalStatus{
    border: medium solid lightgray;
    border-width:0.5px 1px 1px 1px ;
}

.book-wrapper .enable{
    background-color: yellow;
}

.book-wrapper .disable{
    background-color: gray;
}